.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem !important;
  color: white !important;
  font-weight: bold !important;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.searchWrapper {
  position: relative;
}
.searchedCarsWrapper {
  position: absolute;
  top: 60px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  padding: 5px;
}
.searchedCarsWrapper ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
}
.searchedCarsWrapper ul li {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
.seacrhedCarLink {
  display: flex;
  align-items: center;
}
.imageURl {
  width: 70px;
  height: 60px;
  margin-right: 20px;
  object-fit: cover;
}
.carname {
  font-size: 20px;
  color: black;
}

.search {
  border: none;
  padding: 7px;
  border-radius: 7px;
  outline: none;
  width: 300px;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
.burgerMenu {
  display: none;
  width: 40px;
  height: 40px;
  color: white;
}
.searchIcon {
  display: none;
  width: 30px;
  height: 30px;
  color: white;
}

@media screen and (max-width: 992px) {
  .header ul {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .searchWrapper{
    display: none;
  }
  .searchIcon{
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .search {
    width: 250px;
  }
  .searchedCarsWrapper{
    width: 250px;
  }
  .searchedCarsWrapper ul {
    width: 250px;
  }
}
@media screen and (max-width: 400px) {
  .search {
    width: 230px;
  }
  .searchedCarsWrapper{
    width: 230px;
  }
  .searchedCarsWrapper ul {
    width: 230px;
  }
}
