.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.actions {
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-align: center;
}
.image{
  border-radius: 8px;
}

.actions button,
.actions a {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 2px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

@media screen and (max-width: 992px) {
  .detail .image{
    width: 650px;
  }
}
@media screen and (max-width:768px) {
  .detail .image{
    width: 450px;
  }
}
@media screen and (max-width:476px) {
  .detail .image{
    width: 300px;
  }
}
